---
interface Props extends astroHTML.JSX.HTMLAttributes {
  variant?: 'primary' | 'secondary' | 'outline';
  class?: string;
}
const { variant = 'primary', class: className, ...rest } = Astro.props;
---

<button
  class:list={[
    'btn',
    `btn-${variant}`,
    'inline-flex items-center w-fit cursor-pointer overflow-hidden',
    variant !== 'outline' && 'bg-blue text-white',
    className,
  ]}
  {...rest}
>
  {
    variant === 'secondary' && (
      <span class='btn-icon flex items-center justify-center self-stretch min-inline-12' />
    )
  }
  <span class='text-7 px-8 py-4 uppercase'>
    <slot />
  </span>
</button>

<style>
  .btn-secondary {
    .btn-icon {
      background: var(--color-blue-darkend)
        url('../assets/icons/down-arrows.svg') no-repeat center;
    }

    &:active {
      background-color: var(--color-teal);

      .btn-icon {
        background-color: var(--color-teal-darkend);
        background-image: url('../assets/icons/down-arrows-white.svg');
      }
    }
  }

  .btn-outline {
    background: var(--color-white);
    color: var(--color-slate-800);
    border: 1px solid var(--color-slate-800);

    &:active {
      background-color: var(--color-slate-800);
      color: var(--color-white);
    }
  }
</style>
