---
import Button from './Button.astro';
---

<div
  class='grid grid-cols-1 items-center justify-items-center gap-10 pbe-24 md:grid-cols-[3fr_1fr_auto] md:justify-items-start lg:grid-cols-[1fr_1fr_auto] lg:pbe-36'
>
  <h3 class='text-2 font-Ibarra text-center md:text-left lg:text-left'>
    Interested in doing a project together?
  </h3>
  <div class='border-divider hidden w-full border-be md:block'></div>
  <a href='/contact'>
    <Button variant='outline'>contact me</Button>
  </a>
</div>
