---
interface Props {
  href: string;
  class?: string;
}

const { href, class: className } = Astro.props;
---

<a href={href} class:list={['text-7 hover:text-teal text-current uppercase', className]}>
  <slot />
</a>
